*{			position: fixed;
			margin: 0;
			padding: 0;
			width: 100%; 
			height: 100%;
		}
		body, html{
			width: 100%;
			height: 100%;
			font-family: sans-serif;
			font-size:15px;
			line-height: 1.3;
			text-align:center;
		}
		.bg_video{
			position: fixed; 
			right: 0; 
			bottom: 0;
			min-width: 100%; 
			min-height: 100%;
			width: auto; 
			height: auto; 
			z-index: -1000;
			background: url(images/coisinha.jpeg) no-repeat;
			background-size: cover; 
		}
		.cam{
			left: 390px;
			top: 100px;
			width: 65%; 
			height: 65%;  
		}
		.body{
			padding:20px;
			background: rgba(255,255,255,0.9);
			margin: 30% auto 20px auto;
			max-width: 960px;
			border-radius: 10px;
		}
		.body h1{
			font-family: Georgia, serif;
			font-size:40px;
		}
		.body p{
			margin: 1.6em 0;
		}
		
		#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}